@use '../style/variables.scss';
@use '../style/breakpoints.scss';

$contentPadding: variables.$baseUnit * 4;

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 $contentPadding;
  margin-bottom: variables.$baseUnit * 10;
}

.content {
  display: grid;
  gap: variables.$baseUnit * 4;
  grid-template-columns: 7fr 5fr;
  max-width: variables.$baseUnit * 145;

  @include breakpoints.for-tablet-portrait-down {
    display: flex;
    flex-direction: column;
    gap: variables.$baseUnit * 6;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: variables.$baseUnit * 4;
}
