@use '../../style/variables.scss';


.title {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 20px;

  .mainTitle {
    font-weight: 600;
    font-size: 24px;
  }
}

.dates {
  letter-spacing: 0px;
  font-weight: 400;
  color: #817f7f;
  font-style: italic;
  font-size: 17px;
}

.content {
  margin-top: variables.$baseUnit;
}


.experiences {
  display: flex;
  flex-direction: column;
  gap: variables.$baseUnit * 1.5;

  border-left: 1px solid variables.$primaryColor;
  padding-left: variables.$baseUnit * 2;
  margin-top: variables.$baseUnit * 2;
}

.experience {
  display: flex;
  flex-direction: column;

  .dates {
    margin-top: variables.$baseUnit * -0.5;
  }
}