@use '../../style/variables.scss';

.title {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 32px;
  color: variables.$primaryColor;
}

.content {
  margin-top: variables.$baseUnit;
  display: flex;
  flex-direction: column;
  gap: variables.$baseUnit * 4;
}
